.profile {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.profile__content {
  flex-grow: 1;
  margin-left: 27vh;
  padding: 30px;
  box-sizing: border-box;
}

.profile__sidebar {
  margin-top: 20px;
  width: 25vh;
  background-color: white;
  padding: 20px;
  position: fixed;
  height: calc(100% - 20px);
}
