.main-container {
  height: 100vh;
  color: white;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
}

.main__search-tool {
  height: 35vh;
  background: linear-gradient(rgba(47, 147, 226, 0.7), rgba(47, 147, 226, 0.5)),
    url("../../assets/pexels-esma-nur-63700357-11201148.jpg") center/cover
      no-repeat;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__book-catalog {
}
