.navigation {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(47, 147, 226, 0.5);
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navigation__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: space-between; /* Элементы будут распределены по ширине */
  width: 100%;
}

.navigation__item {
  margin: 0 15px;
}

.navigation__item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

.navigation__item a:hover {
  color: rgb(100, 100, 100);
}
