.sidebar {
  display: flex;
  flex-direction: column;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.sidebar__btn {
  border: none;
  background-color: white;
  margin-bottom: 20px;
}
