.footer {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Cabinet Grotesk";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  padding: 0 5vh;
  height: 15vh;
  background: linear-gradient(rgba(47, 147, 226, 0.7), rgba(47, 147, 226, 0.5)),
    url("../../assets/pexels-esma-nur-63700357-11201148.jpg") center/cover
      no-repeat;
  z-index: 2;
}

.footer__description {
  display: flex;
}

.footer__description-year {
  margin-left: auto;
}
